---
import TableOfContentsHeading from "./TableOfContentsHeading.astro";

// https://kld.dev/building-table-of-contents/
const { headings } = Astro.props;
const toc = buildToc(headings);

export interface Heading {
  depth: number;
  slug: string;
  text: string;
  subheadings?: Heading[];
}

function buildToc(headings: Heading[]) {
  const toc: Heading[] = [];
  const parentHeadings = new Map<number, Heading>();

  headings.forEach((h) => {
    const heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);

    for (const depth of Array.from(parentHeadings.keys())) {
      if (depth > heading.depth) {
        parentHeadings.delete(depth);
      }
    }

    let parent: Heading | undefined;
    for (let depth = heading.depth - 1; depth >= 1; depth--) {
      parent = parentHeadings.get(depth);
      if (parent) break;
    }

    if (parent) {
      parent.subheadings?.push(heading);
    } else {
      toc.push(heading);
    }
  });

  return toc;
}
---

<details
  open
  class="animate group rounded-lg border border-black/15 dark:border-white/20"
>
  <summary
    class="cursor-pointer rounded-t-lg px-3 py-1.5 font-medium transition-colors group-open:bg-black/5 hover:bg-black/5 dark:group-open:bg-white/5 hover:dark:bg-white/5"
    >目录</summary
  >
  <nav>
    <ul class="m-0 list-none px-4 py-3">
      {toc.map((heading) => <TableOfContentsHeading heading={heading} />)}
    </ul>
  </nav>
</details>
