---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import BackToPrevious from "@components/BackToPrevious.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects", ({ data }) => !data.draft);
  const tags = [...new Set(projects.flatMap((project) => project.data.tags || []))];

  return tags.map((tag) => ({
    params: { id: tag },
    props: {
      projects: projects.filter((project) => project.data.tags?.includes(tag)),
    },
  }));
}

const { id } = Astro.params;
const { projects } = Astro.props;
const sortedProjects = projects.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);
---

<Layout title={`项目标签：${id}`} description={`带有该标签的项目：${id}`}>
  <Container>
    <div class="space-y-10" data-pagefind-ignore>
      <BackToPrevious href="/projects/tags"> 全部项目标签 </BackToPrevious>
      <h1 class="animate font-semibold text-black dark:text-white">
        标记为“{id}”的项目
      </h1>
      <ul class="animate flex flex-col gap-4">
        {sortedProjects.map((project) => <ArrowCard entry={project} />)}
      </ul>
    </div>
  </Container>
</Layout>
